body {
	color:blue;
	background-color: yellow;
}

header {
	color:green;
	font-size: 40px;
	font-family: verdana;
}

footer
{
	background-color: #444444;
	padding: 30px 10px;
	border-top: 5px solid white;
	color: #FFFFFF;
	font-size: 10px;
	width:80%;
}